<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EvolverAI Templates</title>
    <link href="{{ url_for('static', path='/styles/crud-templates-evolverai.css') }}" rel="stylesheet">
</head>
<body>
<h1 class="principal-title">Editor de plantillas</h1>

<section>
    <h4>Listado de Templates</h4>
    <ul>
        {% for template in data.templates %}
        <li>{{ template.name }}</li>
        {% endfor %}
    </ul>
</section>
</body>
</html>